$primary-color: #007bff;
$footer-background: #1C1C1C;
$background-dark: #132C3F;
$secondary-color: #6c757d;
$font-family: 'Roboto', sans-serif;
$font-color: #f2f2f2;
$font-color-dark: #132C3F;
$accent-color: #277A9A;

html {
  scroll-behavior: smooth;
}


body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color;
  margin: 0;
  padding: 0;
}

.p-datatable {
  font-family: $font-family;

  .p-datatable-thead > tr > th {
    background-color: $secondary-color;
    color: #fff;
  }

  .p-datatable-tbody > tr > td {
    padding: 0.75rem;
    vertical-align: middle;
  }
}

.p-inputtext {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.p-button {
  border-radius: 5px;
  cursor: pointer;
  color: $font-color;
  text-decoration: none;

  &:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $accent-color, 0 1px 2px 0 black;
  }
}
