@import "../../../../styles.scss";

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    
    img {
      width: 40px;
      height: 40px;

      @media (max-width: 768px) {
        width: 30px;
        height: 30px;      
      }
    }
  }

  .menu-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      gap: 10px;

      @media (max-width: 560px) {
        font-size: 0.8rem;
        gap: 5px;
      }

      .menu-item {
        position: relative;

        a {
          text-decoration: none;
          padding: 10px 15px;
          transition: background-color 0.3s ease;

          @media (max-width: 560px) {
            padding: 5px;
          }
    

          &:hover {
            background-color: $accent-color;
            border-radius: 5px;
          }
        }

        .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          list-style: none;
          padding: 0;
          margin: 0;
          padding-top: 10px;

          li {
            a {
              padding: 10px 15px;
              display: block;
              white-space: nowrap;
              text-align: center;

              &:hover {
                background-color: $accent-color;
                border-radius: 5px;
              }
            }
          }
        }

        &:hover .submenu {
          display: block;
        }
      }
    }
  }
}


.default-header a {
  color: $font-color !important;
}

@media screen and (max-width: 768px) {
  .special-header {
    background-color: $background-dark;
  }
}

.special-header a {
  color: $font-color-dark !important;

  &:hover {
    color: $font-color !important;
  }
}