<header [ngClass]="headerColor">
  <app-burger-menu *ngIf="isMobile"></app-burger-menu>
  <a [routerLink]="['/']" fragment="home" class="logo">
    <img src="../../../../assets/LOGO.svg" alt="VEPS Logo">
  </a>
  <nav class="menu-options" *ngIf="!isMobile">
    <ul>
      <li class="menu-item">
        <a (click)="navigateToSection('about')">О КОМПАНИИ</a>
        <ul class="submenu">
          <li><a routerLink="/vacancies">ВАКАНСИИ</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a (click)="navigateToSection('services')">ВИДЫ РАБОТ</a>
      </li>
      <li class="menu-item">
        <a (click)="navigateToSection('production')">ПРОДУКЦИЯ</a>
      </li>
      <li class="menu-item">
        <a (click)="navigateToSection('workflow')">СОТРУДНИЧЕСТВО</a>
      </li>
    </ul>
  </nav>
</header>
