<header>
  <app-burger-menu *ngIf="isMobile"></app-burger-menu>
  <a class="logo" [routerLink]="['/']" fragment="home">
    <img src="../../../../assets/LOGO.svg" alt="VEPS Logo">
  </a>
  <nav class="menu-options" *ngIf="!isMobile">
    <ul>
      <li class="menu-item">
        <a [routerLink]="['/']" fragment="about">О КОМПАНИИ</a>
        <ul class="submenu">
          <li><a routerLink="/vacancies">ВАКАНСИИ</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/']" fragment="services">ВИДЫ РАБОТ</a>
      </li>
      <li class="menu-item">
        <a routerLink="/">ПРОДУКЦИЯ</a>
      </li>
      <li class="menu-item">
        <a routerLink="/">КОНТАКТЫ</a>
      </li>
    </ul>
  </nav>
</header>
