<div class="burger">
  <button class="burger-icon" [class]="isOpen ? 'burger-icon active' : 'burger-icon'" (click)="onClick()">
  </button>
  <nav [class]="isOpen ? 'burger-menu active' : 'burger-menu'">
    <section>
      <a routerLink="/about" (click)="onClick()">О КОМПАНИИ</a>
      <a routerLink="/services" (click)="onClick()">ВИДЫ РАБОТ</a>
      <a routerLink="/production" (click)="onClick()">ПРОДУКЦИЯ</a>
      <a routerLink="/contacts" (click)="onClick()">КОНТАКТЫ</a>
    </section>
  </nav>
</div>