<div class="burger">
  <button class="burger-icon" [class]="isOpen ? 'burger-icon active' : 'burger-icon'" (click)="toggleMenu()">
  </button>
  <nav [class]="isOpen ? 'burger-menu active' : 'burger-menu'">
    <section>
      <a (click)="navigateToSection('about')">О КОМПАНИИ</a>
      <a routerLink="/vacancies" (click)="closeMenu()">ВАКАНСИИ</a>
      <a (click)="navigateToSection('services')">ВИДЫ РАБОТ</a>
      <a (click)="navigateToSection('production')">ПРОДУКЦИЯ</a>
      <a (click)="navigateToSection('contacts')">КОНТАКТЫ</a>
    </section>
  </nav>
</div>
