<section class="home-section">
    <div class="home-content">
        <div class="home-titles-group">
            <h2 class="home-title">ГРУППА КОМПАНИЙ:</h2>
            <h1 class="home-title">ОДО "ВЕНТЭНЕРГОПРОМСЕРВИС"</h1>
            <h1 class="home-title">ЧАСТНОЕ ПРЕДПРИЯТИЕ<br>"ГомельВентПром"</h1>
        </div>
        <button routerLink="/" class="p-button font-bold learn-more">Узнать больше</button>
    </div>
    <div class="home-img">
        <div class="home-img-layer"></div>
    </div>
</section> 