<section class="services-section">
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_1"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">СОСТАВЛЕНИЕ РАБОЧИХ ЧЕРТЕЖЕЙ</p>
      <span class="line"></span>
      <p class="desc">Произведение расчётов параметров приточных, вытяжных, приточно-вытяжных систем вентиляции и составлением смет.
        Разработка рабочих чертежей и расчёт производительности сетей и систем вентиляции (при отсутствии проектной документации по объекту заказчика).</p>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_2"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">МОНТАЖ, РЕМОНТ СИСТЕМ ВЕНТИЛЯЦИИ</p>
      <span class="line"></span>
      <p class="desc">Выполняем комплексные монтажные работы по устройству систем вентиляции и кондиционирования воздуха, обеспечивая их эффективное и надежное функционирование. Также производим профессиональный ремонт систем вентиляции, что позволяет поддерживать их работоспособность и продлить срок службы.</p>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_3"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">ЛАБОРАТОРИЯ ПО АЭРОДИНАМИЧЕСКИМ ИСПЫТАНИЯМ</p>
      <span class="line"></span>
      <p class="desc">Испытания и наладка систем вентиляции с оформлением технических отчётов, протоколов и паспортов в соответствии с требованиями санитарно-эпидемиологических станций.</p>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_4"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">ПОСТАВКА И ОБСЛУЖИВАНИЕ СИСТЕМ КОНДИЦИОНИРОВАНИЯ ВОЗДУХА</p>
      <span class="line"></span>
      <p class="desc">Мы предлагаем полный цикл услуг по поставке систем кондиционирования воздуха, включая их установку и настройку. Также мы обеспечиваем регулярное техническое обслуживание и оперативное устранение возможных неисправностей для бесперебойной работы систем.</p>
    </div>
  </div>
</section>