<section class="services-section">
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_1"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">СОСТАВЛЕНИЕ РАБОЧИХ ЧЕРТЕЖЕЙ</p>
      <span class="line"></span>
      <p class="desc">Произведение расчётов параметров приточных, вытяжных, приточно-вытяжных систем вентиляции и составлением смет.
        Разработка рабочих чертежей и расчёт производительности сетей и систем вентиляции (при отсутствии проектной документации по объекту заказчика).</p>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_2"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">СОСТАВЛЕНИЕ РАБОЧИХ ЧЕРТЕЖЕЙ</p>
      <span class="line"></span>
      <p class="desc">Произведение расчётов параметров приточных, вытяжных, приточно-вытяжных систем вентиляции и составлением смет.
        Разработка рабочих чертежей и расчёт производительности сетей и систем вентиляции (при отсутствии проектной документации по объекту заказчика).</p>
    </div>
  </div>
  <div class="service-wrapper">
    <div class="img-wrapper">
      <div class="serv-img_3"></div>
    </div>
    <div class="desc-wrapper">
      <p class="desc-title">СОСТАВЛЕНИЕ РАБОЧИХ ЧЕРТЕЖЕЙ</p>
      <span class="line"></span>
      <p class="desc">Произведение расчётов параметров приточных, вытяжных, приточно-вытяжных систем вентиляции и составлением смет.
        Разработка рабочих чертежей и расчёт производительности сетей и систем вентиляции (при отсутствии проектной документации по объекту заказчика).</p>
    </div>
  </div>
</section>