@import '../../../styles.scss';

.stats-section {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
  padding: 20px;
  align-items: center;
  gap: 40px;

  .stat-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .stat {
      display: flex;
      text-align: center;
      align-items: center;
      max-width: 800px;
      gap: 12px;
  
      @media (max-width: 880px) {
        flex-direction: column;
        max-width: 500px;
      }
      
      .stat-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
  
        .stat-number {
          font-size: 4rem;
          color: $accent-color;
          font-weight: bold;
  
          @media (max-width: 500px) {
            font-size: 4.5rem;
          }
        }
    
        .stat-label {
          font-size: 1.2rem;
          color: $accent-color;
          margin: -10px;
          font-weight: 500;
          
          @media (max-width: 500px) {
            margin: -20px;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
  
  
      .stat-description {
        font-size: 1.3rem;
        color: #6b7780;
        line-height: 1.5;
        min-width: 500px;
  
        @media (max-width: 500px) {
          min-width: 300px;
          font-size: 1rem;
        }
      }
    }
  }


  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel-title {
      font-size: 3rem;
      font-weight: 600;
      color: $font-color-dark;
      padding: 0;
      margin: 0;
      margin-bottom: -50px;
    }
  }
}
