<section class="stats-section">
  <div class="stat-container">
    <div class="stat">
      <div class="stat-data">
        <h2 class="stat-number">16</h2>
        <p class="stat-label">ЛЕТ</p>
      </div>
      <p class="stat-description">
        Специализируемся на расчете, составлении рабочих чертежей, изготовлении и установке систем вентиляции.
      </p>
    </div>
    <div class="stat">
      <div class="stat-data">
        <h2 class="stat-number">1500+</h2>
        <!-- <p class="stat-label">ВЫПОЛНЕННЫХ ОБЪЕКТОВ</p> -->
      </div>
      <p class="stat-description">
        Успешно завершенных проектов, от небольших помещений до крупных коммерческих и промышленных объектов.
      </p>
    </div>
    <div class="stat">
      <div class="stat-data">
        <h2 class="stat-number">100 000+</h2>
        <!-- <p class="stat-label">ПРОИЗВЕДЕННЫХ ИЗДЕЛИЙ</p> -->
      </div>
      <p class="stat-description">
        Единиц произведенных изделий нормативного качества, обеспечивших наших клиентов всем необходимым для создания долговечных систем вентиляции.
      </p>
    </div>
  </div>
  <div class="carousel-container">
    <!-- <p class="carousel-title">НАМ ДОВЕРЯЮТ:</p> -->
    <app-brands-carousel></app-brands-carousel>
  </div>
</section>
